<div class="pokeInfo panel panel-primary" ng-show="pk.showPokeInfo" ng-if="!pk.errMessage">

  <div class="panel-heading">
    <pk-heading></pk-heading>
  </div>

  <div class="panel-body" ng-hide="pk.loading">
    <div class="well well-lg images">
      <img ng-repeat="poke in pk.nOfImages(6)" ng-src="http://play.pokemonshowdown.com/sprites/xyani/{{pk.pokemon.name | lowercase}}.gif" alt="">
    </div>
    <ul class="nav nav-tabs">
      <li ng-class="{ active : pk.tab === 1 }" role="presentation"><a ng-click="pk.selectTab(1)" role="tab">Pokedex</a></li>
      <li ng-class="{ active : pk.tab === 2 }" role="presentation"><a ng-click="pk.selectTab(2)" role="tab">Stats</a></li>
      <li ng-class="{ active : pk.tab === 3 }" role="presentation"><a ng-click="pk.selectTab(3)" role="tab">Evolution</a></li>
    </ul>

    <div ng-init="pk.tab" clas="tab-content">
      <div ng-show="pk.tab === 1">
        <div>Type: <div ng-repeat="type in pk.pokemon.type" class="label type-{{type | lowercase}} "><a href="#/pokedex/{{type}}">{{type}}</a></div></div>
        <div>Height: <span>{{pk.pokemon.height}}</span></div>
        <div>Weight: <span>{{pk.pokemon.weight}}</span></div>
        <div>
          <h5>Abilities:</h5>
          <ul>
            <li ng-repeat="ability in pk.pokemon.abilities">{{ability | capitalizer}}</li>
          </ul>
        </div>
      </div>
      <div ng-show="pk.tab === 2">
        <h5>{{'stats' | capitalizer}}:</h5>
        <ul>
          <li ng-repeat="pokeStat in pk.pokemon.stats">{{pokeStat.stat.name | capitalizer}}: <small class="label stat-{{pokeStat.stat.name}}">{{pokeStat.base_stat}}</small></li>
        </ul>
      </div>

      <div ng-show="pk.tab === 3">
        <h5>Evoluciones:</h5>
        <p>Estamos trabajando en este tab</p>
      </div>
    </div>
  </div>
</div>
