<div class="search">
  <form class="form" ng-submit="pk.searchNewPokemon()">
    <div class="input-group search">
      <label>Nombre Pokemon o Número de Pokemon</label>
      <div class="search-box">
        <input id="searchPokemon" ng-model="pk.inputSearch" class="form-control" type="text" placeholder="Pikachu / 25">
        <button class="btn btn-primary" type="submit">Buscar Pokemon</button>
      </div>
    </div>
  </form>
</div>

<div ng-class="{ hidden : !pk.loading }" class="loader">Loading...</div>
<div ng-if="pk.errMessage" class="text-danger">No existe este pokemon! Verifica el nombre que ingresaste…</div>
<pk-data></pk-data>
